/* -------------------------------------------------------------------------*/
/* Layout */
/* line 17, ../scss/screen.scss */
img {
  max-width: 100%;
}

/* line 11, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/language/susy/_box-sizing.scss */
* *, * *::before, * *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../scss/screen.scss */
body {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/output/support/_clearfix.scss */
body::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 25, ../scss/screen.scss */
.site-title {
  text-align: center;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 30, ../scss/screen.scss */
.blog-post {
  width: 75%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 34, ../scss/screen.scss */
.sidebar {
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}
