/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.9.1
* Docs at http://davidtheclark.github.io/scut
*/
/* -------------------------------------------------------------------------*/
/* Typography */
/* line 29, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  margin: 0 0 0.5rem 0;
}

/* line 33, ../scss/screen.scss */
h1 {
  font-size: 3rem;
}
/* line 36, ../scss/screen.scss */
.site-title h1 {
  color: #a6450b;
  font-size: 2.61803rem;
  margin: 60px 0 0;
}

/* line 42, ../scss/screen.scss */
h2 {
  font-size: 2.61803rem;
}

/* line 43, ../scss/screen.scss */
h3 {
  font-size: 1.8541rem;
}

/* line 44, ../scss/screen.scss */
h4 {
  font-size: 1.61803rem;
}

/* line 45, ../scss/screen.scss */
h5 {
  font-size: 1.1459rem;
}

/* line 46, ../scss/screen.scss */
h6 {
  font-size: 1rem;
}

/* line 48, ../scss/screen.scss */
p {
  color: #444444;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.61803rem 0;
}

/* line 54, ../scss/screen.scss */
.tagline {
  color: #aaaaaa;
  font-size: 1.1459rem;
  font-weight: 300;
}

/* line 59, ../scss/screen.scss */
.lead {
  font-size: 1.1459rem;
  font-weight: 300;
}

/* line 64, ../scss/screen.scss */
ul,
ol {
  font-size: 1rem;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
/* line 69, ../scss/screen.scss */
ul li,
ol li {
  margin-bottom: 0.5rem;
}

/* line 74, ../scss/screen.scss */
blockquote {
  border-left: solid 6px #dddddd;
  margin: 1.8541rem 0 1.8541rem 1.8541rem;
  padding: 12px 10% 12px 20px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 79, ../scss/screen.scss */
blockquote p {
  color: #aaaaaa;
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 0;
}
/* line 85, ../scss/screen.scss */
blockquote a {
  display: inline-block;
  margin-top: 0.5rem;
}

/* line 91, ../scss/screen.scss */
a {
  color: #a6450b;
  text-decoration: none;
}
/* line 513, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/scut-0.9.1/dist/_scut.scss */
a:hover, a:focus, a:active {
  color: #763108;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 103, ../scss/screen.scss */
hr {
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #dddddd;
  margin: 1.8541rem auto 1.61803rem;
  width: 4.23607rem;
}

/* line 111, ../scss/screen.scss */
img {
  margin-bottom: 1rem;
  max-width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 11, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/language/susy/_box-sizing.scss */
* *, * *::before, * *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 119, ../scss/screen.scss */
html {
  border-top: 44px solid #444444;
  border-bottom: 144px solid #dddddd;
}

/* line 124, ../scss/screen.scss */
body {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/output/support/_clearfix.scss */
body::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 126, ../scss/screen.scss */
.site-title {
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* line 132, ../scss/screen.scss */
.blog-post {
  margin-bottom: 100px;
  width: 75%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-right: 90px;
}

/* line 138, ../scss/screen.scss */
.sidebar {
  background-color: rgba(221, 221, 221, 0.3);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 25%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 145, ../scss/screen.scss */
.sidebar p {
  color: #aaaaaa;
}

/* -------------------------------------------------------------------------*/
/* UI Components */
/* line 152, ../scss/screen.scss */
.page-back {
  color: #aaaaaa;
  font-size: .8rem;
  line-height: 1.6rem;
  margin-left: -34px;
  text-indent: 34px;
  text-transform: uppercase;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background-color: #dddddd;
  height: 2em;
  width: 2em;
}
/* line 513, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/scut-0.9.1/dist/_scut.scss */
.page-back:hover, .page-back:focus, .page-back:active {
  background-color: #c4c4c4;
  color: #aaaaaa;
}
/* line 165, ../scss/screen.scss */
.page-back:before {
  content: "";
  position: absolute;
  width: 0.75em;
  left: 50%;
  margin-left: -0.375em;
  height: 0.75em;
  top: 50%;
  margin-top: -0.375em;
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.375em 0.75em;
  border-style: solid;
  border-color: transparent;
  border-right-color: white;
  border-left-width: 0;
}
