/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.9.1
* Docs at http://davidtheclark.github.io/scut
*/
/* -------------------------------------------------------------------------*/
/* Typography */
/* line 25, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
}

/* line 28, ../scss/screen.scss */
h1 {
  font-size: 3rem;
}

/* line 29, ../scss/screen.scss */
h2 {
  font-size: 2.61803rem;
}

/* line 30, ../scss/screen.scss */
h3 {
  font-size: 1.8541rem;
}

/* line 31, ../scss/screen.scss */
h4 {
  font-size: 1.61803rem;
}

/* line 32, ../scss/screen.scss */
h5 {
  font-size: 1.1459rem;
}

/* line 33, ../scss/screen.scss */
h6 {
  font-size: 1rem;
}

/* line 35, ../scss/screen.scss */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.61803rem 0;
}

/* line 41, ../scss/screen.scss */
ul,
ol {
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
  padding-left: 0;
}
/* line 46, ../scss/screen.scss */
ul li,
ol li {
  margin-bottom: 0.5rem;
}

/* line 51, ../scss/screen.scss */
blockquote {
  border-left: solid 3px #dddddd;
  padding: 6px 10% 6px 20px;
}
/* line 54, ../scss/screen.scss */
blockquote p {
  margin-bottom: 0;
  font-style: italic;
}

/* line 60, ../scss/screen.scss */
a {
  color: blue;
  text-decoration: none;
}
/* line 513, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/scut-0.9.1/dist/_scut.scss */
a:hover, a:focus, a:active {
  color: #0000cc;
}

/* line 68, ../scss/screen.scss */
hr {
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #dddddd;
  margin: 1rem auto 1.1459rem;
  width: 4.23607rem;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 80, ../scss/screen.scss */
img {
  max-width: 100%;
  margin-bottom: 1rem;
}

/* line 11, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/language/susy/_box-sizing.scss */
* *, * *::before, * *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 87, ../scss/screen.scss */
body {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/output/support/_clearfix.scss */
body::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 89, ../scss/screen.scss */
.site-title {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* line 95, ../scss/screen.scss */
.blog-post {
  margin-bottom: 100px;
  width: 75%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-right: 1px solid #dddddd;
}

/* line 101, ../scss/screen.scss */
.sidebar {
  width: 25%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* -------------------------------------------------------------------------*/
/* UI Components */
/* line 107, ../scss/screen.scss */
.page-back {
  text-indent: -9999px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background-color: #dddddd;
  height: 2em;
  width: 2em;
}
/* line 513, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/scut-0.9.1/dist/_scut.scss */
.page-back:hover, .page-back:focus, .page-back:active {
  background-color: #c4c4c4;
}
/* line 114, ../scss/screen.scss */
.page-back:before {
  content: "";
  position: absolute;
  width: 0.75em;
  left: 50%;
  margin-left: -0.375em;
  height: 0.75em;
  top: 50%;
  margin-top: -0.375em;
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.375em 0.75em;
  border-style: solid;
  border-color: transparent;
  border-right-color: white;
  border-left-width: 0;
}
