/* -------------------------------------------------------------------------*/
/* Typography */
/* line 23, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
}

/* line 26, ../scss/screen.scss */
h1 {
  font-size: 3rem;
}

/* line 27, ../scss/screen.scss */
h2 {
  font-size: 2.61803rem;
}

/* line 28, ../scss/screen.scss */
h3 {
  font-size: 1.8541rem;
}

/* line 29, ../scss/screen.scss */
h4 {
  font-size: 1.61803rem;
}

/* line 30, ../scss/screen.scss */
h5 {
  font-size: 1.1459rem;
}

/* line 31, ../scss/screen.scss */
h6 {
  font-size: 1rem;
}

/* line 33, ../scss/screen.scss */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.61803rem 0;
}

/* line 39, ../scss/screen.scss */
ul,
ol {
  margin: 0;
  font-size: 1rem;
}
/* line 43, ../scss/screen.scss */
ul li,
ol li {
  margin-bottom: 0.5rem;
}

/* line 48, ../scss/screen.scss */
blockquote {
  border-left: solid 3px #dddddd;
  padding: 6px 10% 6px 20px;
}
/* line 51, ../scss/screen.scss */
blockquote p {
  margin-bottom: 0;
  font-style: italic;
}

/* line 57, ../scss/screen.scss */
a {
  text-decoration: none;
}

/* line 59, ../scss/screen.scss */
hr {
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #dddddd;
  margin: 1rem auto 1.1459rem;
  width: 4.23607rem;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 71, ../scss/screen.scss */
img {
  max-width: 100%;
  margin-bottom: 1rem;
}

/* line 11, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/language/susy/_box-sizing.scss */
* *, * *::before, * *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 78, ../scss/screen.scss */
body {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-2.0.0.rc.1/sass/susy/output/support/_clearfix.scss */
body::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 80, ../scss/screen.scss */
.site-title {
  text-align: center;
  width: 100%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 85, ../scss/screen.scss */
.blog-post {
  width: 75%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}

/* line 87, ../scss/screen.scss */
.sidebar {
  width: 25%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}
