// ---------------------------------------------------------------------------
// Imports

@import "susy";

$map: (
  columns: 12,
  gutters: .5,
  math: fluid,
);

@include layout($map float inside);

/* -------------------------------------------------------------------------*/
/* Layout */

img { max-width: 100%; }

* { @include border-box-sizing; }

body {
  @include container(70em);
}

.site-title {
  text-align: center;
  @include span(full);
}

.blog-post {
  @include span(75%);
}

.sidebar {
  @include span(25%);
}